<div class="carousel-container">
  <button class="carousel-arrow left" (click)="prev()" aria-label="Previous">
    <i class="fas fa-chevron-left"></i>
  </button>

  <div class="superhero-card">
    <div class="superhero-header">
      <img [src]="selectedSuperhero.image" [alt]="selectedSuperhero.name" class="superhero-image" />
      <h2 class="superhero-name">{{ selectedSuperhero.name }}</h2>
    </div>
    <div class="superhero-data-table">
      <div class="superhero-data-row">
        <span class="superhero-label age"><i class="fas fa-birthday-cake"></i> Age:</span>
        <span class="superhero-value">{{ selectedSuperhero.age }}</span>
      </div>
      <div class="superhero-data-row">
        <span class="superhero-label nickname"><i class="fas fa-user"></i> Nickname:</span>
        <span class="superhero-value">{{ selectedSuperhero.nickname }}</span>
      </div>
      <div class="superhero-data-row">
        <span class="superhero-label power"><i class="fas fa-bolt"></i> Power:</span>
        <span class="superhero-value">{{ selectedSuperhero.superpower }}</span>
      </div>
    </div>
    <div class="universe-logo-row">
      <ng-container *ngIf="selectedSuperhero.universe === 'Marvel'">
        <img src="assets/marvel.png" alt="Marvel" class="universe-logo" />
      </ng-container>
      <ng-container *ngIf="selectedSuperhero.universe === 'DC'">
        <img src="assets/dc.png" alt="DC" class="universe-logo" />
      </ng-container>
    </div>
    <hr class="divider" />
    <div class="superhero-actions">
      <button class="action-btn edit" aria-label="Edit"><i class="fas fa-pen"></i></button>
      <button class="action-btn delete" aria-label="Delete"><i class="fas fa-trash"></i></button>
    </div>
  </div>

  <button class="carousel-arrow right" (click)="next()" aria-label="Next">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>

<div class="carousel-thumbnails">
  <div
    *ngFor="let hero of superheroes; let i = index"
    class="thumbnail"
    [class.selected]="i === selectedIndex"
    (click)="selectSuperhero(i)"
  >
    <img [src]="hero.image" [alt]="hero.name" />
  </div>
</div>

<!-- Floating button to add superhero -->
<button class="fab-add" aria-label="Add superhero">
  <i class="fas fa-plus"></i>
</button>
